img{
    width: 300px;
    height: 300px;
border-radius: 20PX;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
}
.container{
    max-width: 300px;
    background-color: white;
    border-radius: 20px;
    border: 20px solid white;

}